# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
ENV/
env/
env.bak/
venv.bak/

# IDE-specific files
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Test artifacts
.coverage
htmlcov/
